org-clock-save.el
local/

# Excluding for now since oauth tokens were here
config/.config

# Local customization files
emacs/.emacs.d/local-config.el

# eca - editor code assistant
emacs/.emacs.d/eca

# Seems to keep local cookies here?
emacs/.emacs.d/url

# For now we exclude claude dirs
.claude/